:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: auto;
  width: 100vw;
  height: 100vh;
}

header {
  text-align: center;
  font-family: fantasy;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  top: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  flex-wrap: wrap;
}

img {
  box-shadow: 10px 10px 5px lightgray;
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
}

img:hover {
  cursor: pointer;
}

img:active {
  top: 1px;
  transition-duration: 0.001s;
  border: 3px solid darkgray;
}

@media all and (min-width: 800px) {
  img.paper {
    filter: grayscale(0.5);
  }
  header {
    text-align: center;
    font-family: fantasy;
  }
  section {
    display: flex;
    justify-content: space-evenly;
  }
}
