:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: auto;
  width: 100vw;
  height: 100vh;
}
h1,
h2 {
  text-align: center;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

img {
  box-shadow: 10px 10px 5px lightgray;
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
  flex-wrap: wrap;
}

img.paper {
  filter: grayscale(0.5);
}

img:hover {
  cursor: pointer;
}

img:active {
  top: 1px;
  transition-duration: 0.001s;
  border: 3px solid darkgray;
}
